[submodule "codec"]
	path = codec
	url = https://github.com/JarryShaw/f2format-codec.git
[submodule "vendor/cpython"]
	path = vendor/cpython
	url = https://github.com/python/cpython.git
[submodule "vendor/typed_ast"]
	path = vendor/typed_ast
	url = https://github.com/python/typed_ast.git
