# recursive-include f2format/py36/ast *.h
# recursive-include f2format/py37/ast *.h

global-include *.py

include README.md
include LICENSE

exclude setup-formula.py
exclude setup-version.py

prune vendor
prune Cellar
prune Tap

prune release
prune archive
prune codec
prune test
prune src

prune .github
prune .venv
prune .vscode
