[[source]]
name = "tuna"
url = "https://pypi.tuna.tsinghua.edu.cn/simple"
verify_ssl = true

[[source]]
name = "sjtu"
url = "https://mirrors.sjtug.sjtu.edu.cn/pypi/web/simple"
verify_ssl = true

[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
f2format = {editable = true,path = "."}
autopep8 = "*"
bandit = "*"
codecov = "*"
coverage = "*"
ipython = "*"
mypy = "*"
pylint = "*"
rstcheck = "*"
sphinx = "*"
sphinxemoji = "*"
sphinx-autodoc-typehints = "*"

[packages]
tbtrim = "*"
parso = "*"
bpc-utils = {git = "https://github.com/pybpc/bpc-utils.git"}

[requires]
python_version = "3.9"
