[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
typed_ast = ">=1.1.0"

[dev-packages]
"f2format" = {editable = true, path = "."}
"requests" = "*"
"bs4" = "*"
"html5lib" = "*"
ipython = "*"
rope = "*"
"autopep8" = "*"
pylint = "*"
pycodestyle = "*"
isort = {extras = ["pipfile", "requirements"], version = "*"}

[requires]
python_version = "3.7"
